@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Estonia&family=Gruppo&family=Nunito:ital,wght@1,900&family=Questrial&display=swap');
$body-bg: #EFF4F6;

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "custom-color": #900
);

$custom-font-family: 'Gruppo', sans-serif;
$font-family-base: $custom-font-family;

.nav-content {
  color: color("purple")
}

.nav-link {
  color: theme-color-level(primary, -10)
}
.welcome-container{
  color: color-yiq(#000)
}

//need example of how to use this
@function color($key: "blue") {
  @return map-get($colors, $key);
}
//need example of how to call
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);
  @return mix($color-base, $color, $level * $theme-color-interval);
}

//color contrast exmaple
@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";