// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Estonia&family=Gruppo&family=Nunito:ital,wght@1,900&family=Questrial&display=swap');
$background-image-url: url('../../assets/cover_bg.png');

.cover {
  background-image: $background-image-url;
  background-size: cover;
  background-position: 40% 3%;
  background-repeat: no-repeat;
  color: whitesmoke;
  &__container {
    height: 100vh;
    max-width: 60em;
  }
  &__navbar {
    font-size: 1.5em;
    // border-bottom: .20rem solid black;
    text-shadow: 0 .05rem .1rem rgba(25, 15, 77, 0.799);
  }
  &__navbar-link {
    color: whitesmoke;
    margin-left: 1rem;
    text-decoration: none;
  &:hover,
  &:focus {
    border-bottom-color: black;
    font-weight: 700;
    color: aqua;
    text-shadow: 0 .05rem .1rem rgba(25, 15, 77, 0.799);
  }
  }
  &__header-container {
    height: 100vh;
    position: relative;


  }
  &__header {
    font-size: 3em;
    position: absolute;
    top: 30%;
    @media (min-width: 768px) {
      font-size: 4em;
    }
  }
}

.content {
  background-color: aliceblue;
}



