/* unvisited link */
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: inherit;
}

/* selected link */
a:active {
    color: inherit;
}

a{
	text-decoration: none;
}
h1{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 2.120%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 300.000%;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	text-indent: 0;
	line-height: 1.188em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
p{
	margin: 0px;
}
sub{
	vertical-align: -10%;
	font-size: 67%;
}
sup{
	vertical-align: 33%;
	font-size: 67%;
}
.s1{
	background: transparent;
}
/* .p1{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 3.635%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 600.000%;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	text-indent: 0;
	line-height: 1.208em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p2{
	margin-bottom: 0;
	font-weight: 400;
	font-size: 75.000%;
	font-family: "Garamond";
	text-align: left;
	line-height: 1.083em;
} */
/* .p1{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 68.750%;
	font-family: "Garamond";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.3em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
} */
.p2{
	font-size: 108.331%;
	font-family: "Bookerly";
	line-height: 1.3em;
}
.p3{
	margin-bottom: 0;
	font-weight: 900;
	font-size: 115.000%;
	font-family: "Bookerly";
	text-align: left;
	line-height: 1.3em;
}
.p4{
	margin-bottom: 0;
	font-style: italic;
	font-weight: 400;
	font-size: 110.000%;
	font-family: "Bookerly";
	text-align: left;
	line-height: 1.3em;
}
.p5{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 2.120%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 100.000%;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	line-height: 1.235em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p6{
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 75.000%;
	font-family: "Garamond";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	line-height: 1.083em;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.c1{
	background: transparent;
}
.c2{
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
	font-family: "Garamond";
}
.body {
	width: 100%;
}
.underline {
	text-decoration: underline;
}
.orientation-opposed .underline {
	text-decoration: overline;
}
.strikethrough {
	text-decoration: line-through;
}
.underline-strikethrough {
	text-decoration: underline line-through;
}
.orientation-opposed .underline-strikethrough {
	text-decoration: overline line-through;
}
