$about-image-url: url('../../assets/PoolOfWork_About_Ink.png');
.about {

  background-image: $about-image-url;
  background-size: cover;
  background-position: 15% 30%;
  background-repeat: no-repeat;
  &__container {
    color: whitesmoke;
    // height: 50vh;
    padding: 3em;
    margin-top: 3em;
    // border-radius: 2em;
}
&__text {
  font-weight: 700;
  text-shadow: 0 .05rem .1rem rgba(25, 15, 77, 1);
  @media (min-width: 424px) {
    font-size: 1.25em;
  }
  @media (min-width: 500px) {
    font-size: 1.5em;
  }
}
&__social-links {
  gap: 3em;
}
&__icon {
  &:hover,
  &:focus {
    filter: drop-shadow(0 .05rem .5rem rgba(226, 233, 234, 0.61));
  }
}
&__resume-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #96e7e8;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

// .indent {

//   &__1 {s
//     margin-left: 0.5em;
//   }
//   &__2 {
//     margin-left: 15em;
//   }
//   &__3 {
//     margin-left: 30em;
//   }
//   &__4 {
//     margin-left: 45em;
//   }
// }