.outer {
  background-color: aliceblue;
  &__row {
    // border: 3px aqua solid;
  }
}

.book-card{
  @media (min-width: 1200px) {
    max-height: 250px;
  }
  &__img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: auto;
    }
  &__body {
    min-height: 0;
    overflow-y: auto;
  }
  &__text {
    overflow: scroll;
  }
  &__button-box {
    width: 160px;
  }
  }
