.outer {
  background-color: aliceblue;
  &__row {
    // border: 3px aqua solid;
  }
}

.book-card{
  &__img {
    width: calc(100vw - 5px);
    @media(min-width: 426px) {
      width: auto;
      max-width: 200px;
      height: auto;
      max-height: 250px;
      margin: auto;

    }
  }
}
@media (min-width: 426px){

  .bobby-pic{
    height: 242px;
    background-color: white;
  }
}