.navbar {
  font-size: 1.5em;
  text-shadow: 0 .05rem .1rem rgba(25, 15, 77, 0.799);
  border-bottom: solid 2px white;

  &__link {
    color: whitesmoke;
    margin-left: 1rem;
    text-decoration: none;
    transition: ease-in-out;

    &:hover,
    &:focus {
      border-bottom-color: black;
      font-weight: 700;
      color: #96e7e8;
      text-shadow: 0 .05rem .1rem rgba(25, 15, 77, 0.799);
      filter: drop-shadow(0 .05rem .5rem rgba(226, 233, 234, 0.61));
    }
  }
}

.dropdown__menu {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;

  &.show {
    display: flex;
  }

  &__item {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;

    &:hover,
    &:focus {
      background-color: #96e7e8;
    }
  }
}