/*------------------------ GLOBAL --------------------------*/
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}



section {
  width: 100%;
  /* border: 3px black solid; */
  /* margin-bottom: 20px; */
  height: 50vh;
}

section:last-of-type {
  height: 20vh;
}
/*------------------------ NAVBAR --------------------------*/
nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* font-size: x-large; */
}

.nav-link {
  margin-left: 10px;
}

/*------------------------ WELCOME --------------------------*/
.welcome-section {
  background-image: url(./assets/home-bg-bw.png);
  background-attachment: scroll;
  background-position: 0% 10%;
  background-size: cover;
  width: 100%;
  margin-top: 0;
}

.welcome-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;



  transform: scale(1);
}

.welcome-container {
  padding: 0px;
}

/*------------------------ ABOUT --------------------------*/
.about-section {
  height: 20vh;
}